<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var html = '<tr><td class="material-table-cell"><input placeholder="Material Expiry Date" name="expDate[]" type="date" class="form-control" required></td><td class="material-table-cell"><select placeholder="Materail Model" name="model[]" class="form-control" required><option selected value="">Select Material Code</option><option value="MOD001">MOD001</option><option value="MOD002">MOD002</option><option value="MOD003">MOD003</option></select></td><td class="material-table-cell"><input type="hidden" id="pictureSelected" name="pic[]" value="0" /><input onchange="changeSelect(this)" placeholder="Material Picture" accept="image/*" name="picture[]" type="file" class="form-control"></td><td class="material-table-cell" style="vertical-align: middle;"><input onclick="deleteRow(this)" class="btn-danger" type="button" name="remove" value="Remove" id="removeMaterialDetail"></td></tr>';

        $("#addMaterialDetail").click(function() {
            $("#table_add_md").append(html)
        });
    })
</script>
<script>
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("table_add_md").deleteRow(i);
    }
    function changeSelect(r) {
        var i = r.parentNode.parentNode.rowIndex - 1
        document.getElementsByName("pic[]")[i].value = "1"
    }
</script>
<form action="/material" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="materialName">Material Name:</label>
                <input placeholder="Material Name" name="name" type="text" class="form-control" id="materialName" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="materialCategory">Material Code:</label>
                <select placeholder="Materail Code" name="code" id="materialCategory" class="form-control" required>
                    <option selected value="">Select Material Code</option>
                    <option value="CAT001">CAT001</option>
                    <option value="CAT002">CAT002</option>
                    <option value="CAT003">CAT003</option>
                </select>
            </div>
        </div>
    </div>
    <hr style="margin-top: 35px; margin-bottom: 30px;">
    <h5><strong>Material Details</strong></h5>
    <table class="table table-striped material-table" id="table_add_md">
        <tr>
            <th class="material-table-head">Expiry Date</th>
            <th class="material-table-head">Model</th>
            <th class="material-table-head">Picture</th>
            <th class="material-table-head"></th>
        </tr>
        <tr>
            <td class="material-table-cell">
                <input placeholder="Material Expiry Date" name="expDate[]" type="date" class="form-control" required>
            </td>
            <td class="material-table-cell">
                <select placeholder="Materail Model" name="model[]" class="form-control" required>
                    <option selected value="">Select Material Code</option>
                    <option value="MOD001">MOD001</option>
                    <option value="MOD002">MOD002</option>
                    <option value="MOD003">MOD003</option>
                </select>
            </td>
            <td class="material-table-cell">
                <input type="hidden" id="pictureSelected" name="pic[]" value="0" />
                <input onchange="changeSelect(this)" placeholder="Material Picture" accept="image/*" name="picture[]" type="file" class="form-control">
            </td>
            <td class="material-table-cell" style="vertical-align: middle;">
                <input type="button" name="add[]" value="Add" id="addMaterialDetail">
            </td>
        </tr>
    </table>
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
            <div class="form-group">
                <button type="submit" class="btn btn-view" title="Add">Add</button>
                <button type="reset" class="btn btn-view" title="Cancel" onclick="window.location.replace('/material')">Cancel</button>
            </div>
        </div>
    </div>
</form>