<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var html = '<tr><td class="material-table-cell"><input type="hidden" name="id[]" value="" /><input placeholder="Material Expiry Date" name="expDate[]" type="date" class="form-control" required></td><td class="material-table-cell"><select placeholder="Materail Model" name="model[]" id="materialModel" class="form-control" required><option selected value="">Select Material Code</option><option value="MOD001">MOD001</option><option value="MOD002">MOD002</option><option value="MOD003">MOD003</option></select></td><td class="material-table-cell"><input type="hidden" id="pictureSelected" name="pic[]" value="0" /><input onchange="changeSelect(this)" placeholder="Material Picture" accept="image/*" name="picture[]" type="file" class="form-control"></td><td class="material-table-cell" style="vertical-align: middle;"><input onclick="deleteRow(this)" class="btn-danger" type="button" name="remove" value="Remove" id="removeMaterialDetail"></td></tr>';

        $("#addMaterialDetail").click(function () {
            $("#table_add_md").append(html)
        });
    })
</script>
<script>
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("table_add_md").deleteRow(i);
    }
    function changeSelect(r) {
        var i = r.parentNode.parentNode.rowIndex - 1
        document.getElementsByName("pic[]")[i].value = "1"
        document.getElementsByName("imgDiv")[i].innerHTML = ""
    }
    function forceDownload(link) {
        var url = link.getAttribute("data-href");
        var fileName = link.getAttribute("download");
        link.innerText = "Working...";
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.responseType = "blob";
        xhr.onload = function () {
            var urlCreator = window.URL || window.webkitURL;
            var imageUrl = urlCreator.createObjectURL(this.response);
            var tag = document.createElement('a');
            tag.href = imageUrl;
            tag.download = fileName;
            document.body.appendChild(tag);
            tag.click();
            document.body.removeChild(tag);
            link.innerText = "Download Image";
        }
        xhr.send();
    }
</script>
<script>
    function imgClick (r) {
        var modal = document.getElementById("imgModal");
        var modalImg = document.getElementById("modal-img");
        modal.style.display = "block";
        modalImg.src = r.src;
    }

    function closeModal () {
        var modal = document.getElementById("imgModal");
        modal.style.display = "none";
    }
</script>
<form name="editMat" action="/material/update/<%= material[0].REF_ID %>" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                <input type="hidden" name="details" value="<%= details %>" />
                <label for="materialName">Material Name:</label>
                <input placeholder="Material Name" name="name" type="text" class="form-control" id="materialName"
                    value="<%= material[0].NAME %>" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="materialCategory">Material Code:</label>
                <select placeholder="Materail Code" name="code" id="materialCategory" class="form-control" required>
                    <option selected value="">Select Material Code</option>
                    <option value="CAT001">CAT001</option>
                    <option value="CAT002">CAT002</option>
                    <option value="CAT003">CAT003</option>
                </select>
                <script defer>document.getElementById('materialCategory').value = "<%= material[0].CODE %>";</script>
            </div>
        </div>
    </div>
    <hr style="margin-top: 35px; margin-bottom: 30px;">
    <h5><strong>Material Details</strong></h5>
    <table class="table table-striped material-table" id="table_add_md">
        <tr>
            <th class="material-table-head">Expiry Date</th>
            <th class="material-table-head">Model</th>
            <th class="material-table-head">Picture</th>
            <th class="material-table-head"></th>
        </tr>
        <% details.forEach((detail, detailIndex)=> { %>
            <tr>
                <td class="material-table-cell">
                    <input type="hidden" name="id[]" value="<%= detail.ID  %>" />
                    <input placeholder="Material Expiry Date" name="expDate[]" type="date" class="form-control"
                        value="<%= new Date(detail.EXPIRY_DATE).toISOString().split('T')[0] %>" required>
                </td>
                <td class="material-table-cell">
                    <!-- <input placeholder="Material Model" name="model[]" type="text" class="form-control" value="<%= detail.MODEL %>" required> -->
                    <select placeholder="Materail Model" name="model[]" id="materialModel<%= detailIndex %>"
                        class="form-control" required>
                        <option selected value="">Select Material Code</option>
                        <option value="MOD001">MOD001</option>
                        <option value="MOD002">MOD002</option>
                        <option value="MOD003">MOD003</option>
                    </select>
                    <script
                        defer>document.getElementById("materialModel<%= detailIndex %>").closest("select").value = "<%= detail.MODEL %>"</script>
                </td>
                <td class="material-table-cell">
                    <input type="hidden" id="pictureSelected" name="pic[]" value="0" />
                    <input onchange="changeSelect(this)" placeholder="Material Picture" accept="image/*" name="picture[]" value="/uploads/<%= detail.PICTURE %>" type="file" class="form-control">
                    <% if(detail.PICTURE) { %>
                        <div name="imgDiv" style="display: flex; flex-direction: column">
                            <img onclick="imgClick(this)" style="max-width: 100px; margin-top: 10px; cursor: pointer;" src="/uploads/<%= detail.PICTURE %>" />
                            <a href='/uploads/<%= detail.PICTURE %>' download style="text-decoration: none; display: flex; align-items: center; font-size: 0.85rem; color: black; margin-top: 5px;"><i style="font-style: normal; margin-right: 4px;">Download</i><i class="bi bi-cloud-download"></i></a>
                        </div>
                    <% } %>
                </td>
                <td class="material-table-cell" style="vertical-align: middle;">
                    <% if (detailIndex==0) { %>
                        <input type="button" name="add[]" value="Add" id="addMaterialDetail">
                    <% } else { %>
                        <input onclick="deleteRow(this)" class="btn-danger" type="button" name="remove"
                            value="Remove" id="removeMaterialDetail">
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
            <div class="form-group">
                <button type="submit" class="btn btn-view" title="Update">Update</button>
                <button type="reset" class="btn btn-view" title="Cancel" onclick="window.location.replace('/material')">Cancel</button>
            </div>
        </div>
    </div>
</form>
<div id="imgModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modal-img">
</div>