<% if(rows.length > 0) { %>
    <table id="materials" class="table table-striped material-table">
        <thead>
            <th class="material-table-head">S.No</th>
            <th class="material-table-head">Material Name</th>
            <th class="material-table-head">Material Code</th>
            <th class="material-table-head">Action</th>
        </thead>
        <tbody>
        <% rows.forEach((row, rowIndex) => { %>
            <tr>
                <td class="material-table-cell"><%= rowIndex+1 %></td>
                <td class="material-table-cell"><%= row.NAME %></td>
                <td class="material-table-cell"><%= row.CODE %></td>
                <td class="material-table-cell" style="max-width: 50px ;">
                    <div style="display: flex;">
                        <form action="/material/edit/<%= row.REF_ID %>" method="POST">
                            <input style="margin-right: 7px;" value="Edit" type="submit"></input>
                        </form>
                        <form action="/material/delete/<%= row.REF_ID %>" method="POST">
                            <input class="btn-danger" value="Delete" type="submit"></input>
                        </form>
                    </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p>No Materials Found</p>
<% } %>
