<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="js/jspdf.js"></script>
<script>
    $(function () {
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#pdfBtn').click(function () {

            var table = tableToJson($('#materials').get(0))
            var doc = new jsPDF('p', 'pt', 'a4', true);
            doc.cellInitialize();
            $.each(table, function (i, row) {
                console.debug(row);
                $.each(row, function (j, cell) {
                    doc.cell(10, 50, 120, 50, cell, i);  // 2nd parameter=top margin,1st=left margin 3rd=row cell width 4th=Row height
                })
            })


            doc.save('materials.pdf');
        });
        function tableToJson(table) {
            var data = [];

            // first row needs to be headers
            var headers = [];
            for (var i = 0; i < table.rows[0].cells.length; i++) {
                headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
            }


            // go through cells
            for (var i = 0; i < table.rows.length; i++) {

                var tableRow = table.rows[i];
                var rowData = {};

                for (var j = 0; j < tableRow.cells.length; j++) {

                    rowData[headers[j]] = tableRow.cells[j].innerHTML;

                }

                data.push(rowData);
            }

            return data;
        }
    });
</script>