<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>
<body>
    <% if(typeof message != "undefined" && message) { %>
        <div class="mb-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong><%= message %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    <% } %>
    <div class="container-fluid p-5">
        <div class="title">
            <h3 class="header"><%= title %></h3>
            <% switch (page) {
                case 'materials' : %>
                    <div>
                        <button class="btn btn-add" style="margin-right: 7px;" title="Export To PDF" id="pdfBtn"><i class="bi bi-filetype-pdf btn-icon"></i></button>
                        <button class="btn btn-add" style="margin-right: 7px;" title="Export To Excel" onclick="window.location.replace('/material/export')"><i class="bi bi-file-earmark-excel btn-icon"></i></button>
                        <button class="btn btn-add" title="Add New material" onclick="window.location.replace('/material/add')"><i class="bi bi-plus btn-icon"></i></button>
                    </div>
                    <% break;
                case 'addmaterials' : %>
                    <button class="btn btn-view" title="View All materials" onclick="window.location.replace('/material')"><i class="bi bi-card-list btn-icon"></i></button>
                    <% break;
                default: %>
                    <button class="btn btn-view" title="View All materials" onclick="window.location.replace('/material')"><i class="bi bi-card-list btn-icon"></i></button>
                    <% break;
            } %>
            
        </div>
        <div style="margin-top: 20px">
            <% switch (page) {
                case 'materials' : %>
                    <% if(rows.length > 0) { %>
                        <table id="materials" class="table table-striped material-table" style="width:100%">
                            <thead>
                                <th class="material-table-head">S.No</th>
                                <th class="material-table-head">Material Name</th>
                                <th class="material-table-head">Material Code</th>
                                <th class="material-table-head" style=" max-width: 50px ;">Action</th>
                            </thead>
                            <tbody>
                            <% rows.forEach((row, rowIndex) => { %>
                                <tr>
                                    <td class="material-table-cell" style="padding-left: 18px !important; padding-right: 18px !important;"><%= rowIndex+1 %></td>
                                    <td class="material-table-cell" style="padding-left: 18px !important; padding-right: 18px !important;"><%= row.NAME %></td>
                                    <td class="material-table-cell" style="padding-left: 18px !important; padding-right: 18px !important;"><%= row.CODE %></td>
                                    <td class="material-table-cell" style="padding-left: 18px !important; padding-right: 18px !important;">
                                        <div style="display: flex;">
                                            <form action="/material/edit/<%= row.REF_ID %>" method="POST">
                                                <input style="margin-right: 7px;" value="Edit" type="submit"></input>
                                            </form>
                                            <form action="/material/delete/<%= row.REF_ID %>" method="POST">
                                                <input class="btn-danger" value="Delete" type="submit"></input>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <p>No Materials Found</p>
                    <% } %>
                    <% break;
                case 'addmaterials' : %>
                    <%- include('partials/material-add-form') -%>
                    <% break;
                case 'editmaterials' : %>
                    <%- include('partials/material-edit-form') -%>
                    <% break;
                default: %>
                    <% break;
            } %>
        </div>
    </div>
</body>
</html>