@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body {
    font-family: 'Crete Round', serif !important;
    background: white !important;
    color: black !important;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title .header {
    font-weight: 700;
}

.btn-add {
    background-color: brown !important;
    border-radius: 50% !important;
    color: white !important;
}

.btn-icon {
    font-size: 1.4rem;
}

.btn-view {
    background-color: brown !important;
    border-radius: 0 !important;
    color: white !important;
}

.material-table {
	color: black !important;
	border-collapse: separate !important;
}

.material-table-head {
	background-color: rgb(202, 202, 202) !important;
    /* font-weight: 900 !important;
    font-size: .85rem !important;
    border-radius: 5px !important;
    color: black !important; */
    vertical-align: middle;
    border: 0;
}

.material-table-cell {
    background-color: #f3f3f3 !important;
    /* font-weight: 400 !important;
    font-size: .75rem !important;
	border-radius: 5px !important;
    color: black !important; */
    border: 0;
}

.action-icon {
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 1rem;
}

.action-icon .delete {
    color: rgb(253, 86, 86) !important;
}

#imgModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
